/***
 * Lyo - CSS framework
 * Author: Damian Balandowski
 *
 * Simple CSS framework.
 * For better effects use normalize.css before including this css.
 */
/*** reset ***/
* {
  margin: 0px;
  margin-top: -1px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

/*** Core ***/
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #505050;
  -webkit-font-smoothing: antialiased; }

a {
  color: #283a4a; }

h1, h2, h3, h4, h5, h6 {
  margin: 0px; }

h2 {
  font-size: 23px; }

h3 {
  font-size: 15px; }

/*** Utils ***/
.noBorder {
  border: none; }

.noShadow {
  box-shadow: none; }

.borderTopHide {
  border-top: 0px; }

.borderNone {
  border: 0px; }

.borderHidden {
  border: 1px solid transparent; }

.reset {
  margin: 0px;
  padding: 0px; }

.pad {
  padding: 8; }

.padLeft {
  padding-left: 8; }

.padRight {
  padding-right: 8; }

.padDouble {
  padding: 16; }

.spacerTop, .spacerBoth, .lyoBox {
  margin-top: 8; }

.spacerBottom, .spacerBoth, .lyoBox {
  margin-bottom: 8; }

.spacerTopDouble, .spacerBothDouble {
  margin-top: 16; }

.spacerBottomDouble, .spacerBothDouble {
  margin-top: 16; }

/*** Colors / Background ***/
.backgroundLighter {
  background: rgba(255, 255, 255, 0.8); }

.backgroundDarker {
  background: rgba(0, 0, 0, 0.05); }

/*** Text/Colors/Background ***/
.text-color, .text, .lyoNav a, .smallText, .largeText {
  color: #505050; }

.text, .lyoNav a {
  font-size: 13; }

.smallText {
  font-size: 12; }

.largeText {
  font-size: 15; }

.mutedText {
  color: #505050; }

.darkText {
  color: #3c3c3c; }

.lightText {
  color: #646464; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.autoTextColorLight {
  color: rgba(255, 255, 255, 0.8); }

.autoTextColorDark {
  color: rgba(0, 0, 0, 0.8); }

/* antialiasing */
.textAA, .boxTitle, .button, .lyoNav a {
  -webkit-font-smoothing: antialiased; }

/*** Common ***/
/* hX titles */
.boxTitle {
  background: #3c576f;
  padding: 8;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 200;
  padding: 8;
  padding-top: 7px;
  padding-bottom: 7px;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.6); }

.boxTitle.dark {
  background: #3c3c3c; }

.hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3); }

/*** Layout ***/
.container, .flexContainer {
  max-width: 900px;
  margin: 0 auto; }

.flexContainer {
  display: flex;
  display: -webkit-flex; }

.flexItem {
  -webkit-flex: 1;
  flex: 1; }

.fixed {
  width: auto; }

.layout {
  background: rgba(255, 255, 255, 0.9); }

/*** Box ***/
.box {
  border: 1px solid #aaaaaa; }

.roundedBox {
  /*border-radius: $border_radius_1;*/ }

.boxHeader {
  font-weight: bold;
  background: Red; }

.boxMain {
  border: 1px solid rgba(0, 0, 0, 0.1); }

/*** Data ***/
/*** Div table ***/
.table {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px; }

.row {
  display: flex;
  display: -webkit-flex; }

.rowCenter {
  -webkit-align-items: center;
  -webkit-justifty-content: center; }

.row {
  background: rgba(0, 0, 0, 0.02);
  padding: 8; }

.row:nth-child(2n) {
  background: rgba(0, 0, 0, 0.05); }

.fixedCol {
  width: 200px; }

.col {
  -webkit-flex: 1;
  padding: 8; }

.colIcon {
  font-size: 30px;
  width: 40px;
  text-align: center; }

/*** Button ***/
.button {
  background: #283a4a;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  padding-left: 13px;
  padding-right: 13px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #283a4a; }

.button .button-gradient {
  background: linear-gradient(#304659, #202e3b); }

.button:hover {
  background: #304659;
  border: 1px solid #243443; }

.button i {
  color: rgba(128, 128, 128, 0.8); }

.buttonSmall {
  font-size: 10px;
  height: 20px;
  line-height: 20px;
  border-radius: 2px; }

.buttonDark {
  background: #323232; }

.buttonDark:hover {
  background: #3c3c3c; }

.buttonDanger {
  background: #dc4646;
  border: 1px solid #dc4646; }

.buttonDanger:hover {
  background: #ff5454;
  border: 1px solid #c63f3f; }

.buttonSuccess {
  background: #508250;
  border: 1px solid #508250; }

.buttonSuccess:hover {
  Background: #609c60;
  border: 1px solid #406840; }

.buttonWarning {
  background: #f0ad4e;
  border: 1px solid #c8c846; }

.buttonWarning:hover {
  background: #d89c46;
  border: 1px solid #c08a3e; }

/*** Nav ***/
/*** Other ***/
.primaryBorder {
  border: 1px solid #283a4a; }

.secondaryBorder {
  border: 1px solid #3c576f; }

/*** Form / Inputs ***/
input[type=text] {
  padding: 6;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7); }

select {
  border: none;
  min-width: 200px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 6;
  font-size: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px; }

.form-element {
  margin-top: 5px;
  margin-bottom: 5px; }

.form-styles, .form-v .form-element, .form-h .form-element {
  /*
  	background:rgba(0,0,0,0.05);
  	border:1px solid rgba(0,0,0,0.1);
  	border-radius:2px;
  	*/ }

.form-v .info, .form-v .input {
  padding: 6; }
.form-v .full input {
  width: 100%; }
.form-v .half input {
  width: 50%; }

.form-h .form-element {
  display: flex;
  display: -webkit-flex; }
.form-h .info, .form-h .input {
  padding: 5px;
  padding: 6; }
.form-h .input {
  -webkit-flex: 2;
  flex: 2; }
.form-h .info {
  -webkit-flex: 1;
  flex: 1;
  text-align: right; }
.form-h .full input {
  width: 100%; }
.form-h .half input {
  width: 50%; }
.form-h .full select {
  width: 100%; }
.form-h .half select {
  width: 100%; }

/********* Refeactoring names *********/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/********* Variables / Tweaking *********/
/********* Mixins **********/
/********* Core **********/
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

.lyoReset {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none; }

/********* Text / Style / Color **********/
/********* Helpers / Generic **********/
.lyoSpacerTop, .lyoSpacerBoth {
  margin-top: 8; }

.lyoSpacerBottom, .lyoSpacerBoth {
  margin-bottom: 8; }

/********* Nav **********/
.lyoNav {
  background: #283a4a;
  background: #283a4a;
  height: 38px;
  line-height: 38px;
  padding-left: 10px; }

.lyoNav a {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  border: 1px solid transparent; }
.lyoNav a:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #304659;
  border-radius: 2px; }

/********* Layout **********/
.lyoHeader {
  height: 80px;
  line-height: 80px; }

.lyoContainer {
  max-width: 90%;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.2); }

.lyoFlexContainer {
  display: -webkit-flex;
  display: flex; }

.lyoLayout {
  background: #fff; }

.lyoLayoutMain {
  padding: 5;
  -webkit-flex: 1;
  margin-top: 8;
  margin-bottom: 8; }

.lyoLayoutSide {
  width: 200px; }

.lyoFooter {
  margin-top: 10px;
  padding: 8;
  background: #323232;
  color: rgba(255, 255, 255, 0.5); }

/********* Flex **********/
/********* Buttons **********/
/********* Form / Input **********/
/********* Flex table **********/
.lyoTable {
  display: -webkit-flex;
  display: flex;
  border: 1px solid red; }

.lyoCol {
  -webkit-flex: 1;
  flex: 1; }

.lyoRow {
  width: 100%; }

/********* Box **********/
.lyoBox {
  border: 1px solid #304659;
  border-radius: 3; }

.lyoBoxTitle {
  background: #304659;
  background: #304659;
  color: #fff;
  padding: 8; }

.lyoBoxContent {
  padding: 8; }

/*# sourceMappingURL=framework.css.map */
