/***
 * Layo - CSS framework
 * Author: Damian Balandowski
 *
 * Simple CSS framework.
 * For better effects use normalize.css before including this css.
 */
/*** reset ***/
* {
  margin: 0px; }

/*** Core ***/
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #505050; }

a {
  color: #283a4a; }

/*** Utils ***/
.borderTopHide {
  border-top: 0px; }

.borderNone {
  border: 0px; }

.borderHidden {
  border: 1px solid transparent; }

.reset {
  margin: 0px;
  padding: 0px; }

.pad {
  padding: 8; }

.padLeft {
  padding-left: 8; }

.padRight {
  padding-right: 8; }

.padDouble {
  padding: 16; }

.spacerTop, .spacerBoth {
  margin-top: 8; }

.spacerBottom, .spacerBoth {
  margin-bottom: 8; }

.spacerTopDouble, .spacerBothDouble {
  margin-top: 16; }

.spacerBottomDouble, .spacerBothDouble {
  margin-top: 16; }

/*** Colors / Background ***/
.backgroundLighter {
  background: rgba(255, 255, 255, 0.5); }

.backgroundDarker {
  background: rgba(0, 0, 0, 0.1); }

/*** Text/Colors/Background ***/
.text-color, .text, .nav a, .smallText, .largeText {
  color: #505050; }

.text, .nav a {
  font-size: 13; }

.smallText {
  font-size: 12; }

.largeText {
  font-size: 15; }

.mutedText {
  color: #505050; }

.darkText {
  color: #3c3c3c; }

.lightText {
  color: #646464; }

.autoTextColorLight {
  color: rgba(255, 255, 255, 0.8); }

.autoTextColorDark {
  color: rgba(0, 0, 0, 0.8); }

/* antialiasing */
.textAA, .sectionTitle, .button, .nav a {
  -webkit-font-smoothing: antialiased; }

/*** Common ***/
/* hX titles */
.sectionTitle {
  background: #3c576f;
  padding: 5px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 200; }

.hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3); }

/*** Layout ***/
.container, .flexContainer {
  max-width: 900px;
  margin: 0 auto; }

.flexContainer {
  display: flex;
  display: -webkit-flex; }

.flexItem {
  -webkit-flex: 1;
  flex: 1; }

.fixed {
  width: auto; }

.layout {
  background: rgba(255, 255, 255, 0.9); }

/*** Box ***/
.box {
  border: 1px solid #aaaaaa; }

.boxHeader {
  font-weight: bold;
  background: Red; }

.boxMain {
  border: 1px solid rgba(0, 0, 0, 0.1); }

/*** Data ***/
/*** Div table ***/
/*** Button ***/
.button {
  background: #283a4a;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  padding-left: 13px;
  padding-right: 13px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #283a4a; }

.button:hover {
  background: #304659;
  border: 1px solid #243443; }

.buttonDark {
  background: #323232; }

.buttonDark:hover {
  background: #3c3c3c; }

.buttonDanger {
  background: #dc4646; }

.buttonDanger:hover {
  background: #ff5454; }

.buttonSuccess {
  background: #46dc46; }

.buttonWarning {
  background: #dcdc46; }

/*** Nav ***/
.nav {
  background: #283a4a;
  height: 38px;
  line-height: 38px;
  padding-left: 10px; }

.nav a {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none; }
.nav a:hover {
  Background: #3c576f; }

/*** Form / Inputs ***/

/*# sourceMappingURL=framework.css.map */
