/***
 * Layo - CSS framework
 * Author: Damian Balandowski
 *
 * Simple CSS framework.
 * For better effects use normalize.css before including this css.
 */

$padding_: 8;
$margin_: 8;

$primary_color:#283a4a;
//$primary_color:#284a3a; /* green */
$primary_color:rgb(50,50,50);
$primary_color:#283a4a;
$secondary_color: $primary_color*1.5;
$bg_color: $primary_color*2.0;

$default_text_size: 13;
$small_text_size: 12;
$large_text_size: 15;

$muted_text_color: rgb(80,80,80);

$background_lighter: rgba(255,255,255,0.8);
$background_darker: rgba(0,0,0,0.05);

$default_color: rgb(80,80,80);
$darker_color: rgb(60,60,60);
$lighter_color: rgb(100,100,100);

$link_color: $primary_color;

$border_radius_1: 3px;
$border_radius_2: 4px;

/*** reset ***/
* {margin:0px; margin-top:-1px;	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*** Core ***/
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: $default_color;
	-webkit-font-smoothing: antialiased;
}

a {
	color: $link_color;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

h2 {
	font-size:23px;
}

h3 {
	font-size:15px;
}

/*** Utils ***/
		.noBorder {
			border:none;
		}

		.noShadow {
			box-shadow:none;
		}

.borderTopHide {
	border-top:0px;
}

.borderNone {
	border:0px;
}

.borderHidden {
	border:1px solid rgba(0,0,0,0.0);
}

.reset {
	margin: 0px;
	padding: 0px;
}

.pad {
	padding: $padding_;
}

.padLeft {
	padding-left: $padding_;
}

.padRight {
	padding-right: $padding_;
}

.padDouble {
	padding: $padding_ * 2;
}

.spacerTop {
	margin-top: $margin_;
}

.spacerBottom {
	margin-bottom: $margin_;
}

.spacerBoth {
	@extend .spacerTop;
	@extend .spacerBottom;
}

.spacerTopDouble {
	margin-top: $margin_ * 2;
}

.spacerBottomDouble {
	margin-top: $margin_ * 2;
}

.spacerBothDouble {
	@extend .spacerBottomDouble;
	@extend .spacerTopDouble;
}

/*** Colors / Background ***/
.backgroundLighter {
	background: $background_lighter;
}

.backgroundDarker {
	background: $background_darker;
}

/*** Text/Colors/Background ***/
.text-color {
	color: $default_color;
}
.text {
	font-size: $default_text_size;
	@extend .text-color;
}

.smallText {
	font-size: $small_text_size;
	@extend .text-color;
}

.largeText {
	font-size: $large_text_size;
	@extend .text-color;
}

.mutedText {
	color: $muted_text_color;
}

.darkText {
	color: $darker_color;
}

.lightText {
	color: $lighter_color;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align:center;
}

.autoTextColorLight {
	color: rgba(255,255,255,0.8);
}

.autoTextColorDark {
	color: rgba(0,0,0,0.8);
}

.borderLight {

}

.borderDark {

}

.borderAuto {

}

/* antialiasing */
.textAA {
	-webkit-font-smoothing: antialiased;
}

/*** Common ***/
/* hX titles */
.sectionTitle {
	background: $secondary_color;
	padding:5px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	color: rgba(255,255,255,0.9);
	@extend .textAA;
	font-weight:200;
	padding:6px;
	padding-top:7px;
	padding-bottom:7px;
	text-shadow:0px -1px 1px rgba(0,0,0,0.6);
}

.hr {

    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);

}

/*** Layout ***/
.container {
	max-width: 900px;
	margin:0 auto;
}

.flexContainer {
	@extend .container;
	display:flex;
	display:-webkit-flex;
}

.flexItem {
	-webkit-flex: 1;
	flex: 1;
}

.fixed {
	width: auto;
}

.layout {
	background: rgba(255,255,255,0.9);
}

.layoutMain {

}

/*** Box ***/
.box {
	border:1px solid rgb(170,170,170);
}

.roundedBox {
	/*border-radius: $border_radius_1;*/
}

.boxHeader {
	font-weight:bold;
	background:Red;
}

.boxMain {
	border:1px solid rgba(0,0,0,0.1);
}

/*** Data ***/

/*** Div table ***/
.table {
	border:1px solid rgba(0,0,0,0.2);
	border-radius:3px;
}

.table div {
	
}

.row {
	display:flex;
	display:-webkit-flex;




}

.rowCenter {
	-webkit-align-items: center; 
	-webkit-justifty-content: center;
}

.row {
	background:rgba(0,0,0,0.02);
	padding:8px;
}

.row:nth-child(2n) {
	background:rgba(0,0,0,0.05);
}

.fixedCol {
	width: 100px;
}

.col {
	-webkit-flex:1;
	
	padding:5px;
}

.colIcon {
	font-size:30px;
	width:40px;
	text-align:center;
}

/*** Button ***/
.button {
	background: $primary_color;
	height:30px;
	display:inline-block;
	line-height:30px;
	padding-left:13px;
	padding-right:13px;
	color:rgba(255,255,255,0.8);
	@extend .textAA;
	text-decoration:none;
	border-radius:4px;
	border:1px solid $primary_color;


}
.button .button-gradient {
	background: linear-gradient($primary_color*1.2, $primary_color * 0.8);
}
.button:hover {
	background: $primary_color * 1.2;
		border:1px solid $primary_color*0.9;

}
.button i {
		color:rgba(255,255,255,0.8)*0.5;

}

.buttonSmall {
	font-size:10px;
	height:20px;
	line-height:20px;
	border-radius:2px;
}

.buttonDark {
	background:rgb(50,50,50);
}
.buttonDark:hover {
	background:rgb(50,50,50)*1.2;
}

.buttonDanger {
	background:rgb(220,70,70);
	border:1px solid rgb(220,70,70);
}
.buttonDanger:hover {
	background:rgb(220,70,70) * 1.2;
	border:1px solid rgb(220,70,70)*0.9;
}

.buttonSuccess {
	background:rgb(80,130,80);
	border:1px solid rgb(80,130,80);
}

.buttonSuccess:hover {
	Background:rgb(80,130,80)*1.2;
	border:1px solid rgb(80,130,80)*0.8;
}

.buttonWarning {
	background:rgb(200,200,70);
	border:1px solid rgb(200,200,70);
}
.buttonWarning:hover {
	background:rgb(200,200,70)*0.9;
	border:1px solid rgb(200,200,70);
}


/*** Nav ***/
.nav {
	background: $primary_color;
	height: 38px;
	line-height: 38px;
	padding-left:10px;
}
.nav {
	a {
		@extend .textAA;
		padding-left:10px;
		padding-right:10px;
		padding-top:7px;
		padding-bottom:7px;

		@extend .text;
		color: rgba(255,255,255, 0.9);
		text-decoration:none;
	}
	a:hover {
		Background: $secondary_color;
	}
}

/*** Other ***/
.primaryBorder {
	border:1px solid $primary_color;
}
.secondaryBorder {
	border:1px solid $secondary_color;
}

/*** Form / Inputs ***/
input[type=text] {
	padding:4px;
	font-size:14px;
	color:rgba(0,0,0,0.70);
}
select {
	border:none;
	min-width:200px;
	background:#fff;
	border:1px solid rgba(0,0,0,0.2);
	padding:5px;

	font-size:13px;
	    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    color:rgba(0,0,0,0.7);
    font-size:14px;
}
.form {
	
}



.form-element {
	margin-top: 5px;
	margin-bottom: 5px;


}

.form-v {
	.form-element {
		background:rgba(0,0,0,0.05);
		border:1px solid rgba(0,0,0,0.1);
		border-radius:2px;
	}

	.info, .input {
		
		padding:5px;
	}

	.full input {
		width: 100%;
	}

	.half input {
		width:50%;
	}

}

.form-h {
	.form-element {
		background:rgba(0,0,0,0.05);
		border:1px solid rgba(0,0,0,0.1);
		border-radius:2px;
			display:flex;
		display:-webkit-flex;
	}

	.info, .input {
		
		padding:5px;
		padding:10px;

	}

	.input {
		-webkit-flex:2;
		flex:2;
	}

	.info {
		-webkit-flex:1;
		flex:1;
		text-align:right;
	}

	.full input {
		width: 100%;
	}

	.half input {
		width:50%;
	}
}

/*** Media ***/
@media screen and (max-width: 100px) {
    .container {
    	width: 100% !important;
    }
}
